body{
    font-family: sans-serif;
    padding: 20px;
    background-color: #e9ebee;
}
.perfil-usuario{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}
.avatar{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 3x solid white;
}
.post{
    background: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 50);
}
.post-title{
    font-weight: bold;
    color: aqua;
}